* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Encode Sans Expanded", sans-serif;
}

html {
  scroll-behavior: smooth;
}

// variables
$clr-main: black;
$clr-secondary: white;
$clr-accent: #ff5a5f;
