.sidebar {
  &__container {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: #0d0d0d;
    display: grid;
    align-items: center;
    top: 0;
    left: 0;
    transition: 0.3s ease-in-out;
  }

  &__closeIcon {
    color: #fff;
  }

  &__icon {
    position: absolute;
    top: 1.2rem;
    right: 1.5rem;
    background: transparent;
    font-size: 2rem;
    cursor: pointer;
    outline: none;
  }

  &__wrapper {
    color: #fff;
  }

  &__menu {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 80px);
    text-align: center;

    @media screen and (max-width: 480px) {
      grid-template-rows: repeat(6, 60px);
    }
  }

  &__links {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    text-decoration: none;
    list-style: none;
    transition: 0.2 ease-in-out;
    cursor: pointer;
  }

  &__links:hover {
    color: $clr-accent;
    transition: 0.2 ease-in-out;
  }
}
